ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
li {
    display: inline-block;
}
li a {
    margin: 10px 10px 10px 10px;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px 22px;
    text-decoration: none;
	border-radius: 15px;
}
li a:hover {
    background-color: rgb(89, 89, 89);
}
li a:active {
    background-color: rgb(42, 42, 42);
}

.gamelinkclass{
    display: inline-block;
	overflow: hidden;
	margin: 1.2%;
	width: 22%;

	box-sizing: border-box;
	background-color: white;

    border-radius: 20px;
	border-color: black;
	border-style: solid;

	min-width: 270px;
}

.text{
	margin: auto;
	height: 25px;
	width: 96%;
	position: relative;
	top: -18px;
	text-align: left;
}

h3{
	font-size: 18px;
	text-decoration: none;
	color: rgb(42, 42, 42);
}

a{
	text-decoration: none;
}

p{
	font-size: 14px;
	position: relative;
	top: -19px;
	color: rgb(42, 42, 42);
}

img{
	width: 100%;
}

a{
	color: black;
}